{:deps {:aliases [:cljs]}
 :nrepl {:port 8777}
 :dev-http {1818 "target/test"}
 :builds {:app {:target     :react-native
                :output-dir "app"
                :init-fn yardwerkz.app.core/init
                :compiler-options {:source-map-path "app/"
                                   :source-map true
                                   :source-map-include-sources-content true
                                   :warnings-as-errors true}
                :devtools {:preloads [app.preload]
                           :build-notify app.preload/build-notify}}
          :test {:target :node-test
                 :ns-regexp "-test$"
                 :output-to "target/node-tests.js"
                 :compiler-options {:optimizations :none}}}}
